@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  overflow-y: scroll;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Helvetica, sans-serif;
}